body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-container {
  text-align: center;
  width: 95%;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: normal;
  color: dimgray;
}
.about-container p {
  color: dimgray;
}
.first-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}
.first-div .nigus-sys {
  width: fit-content;
  text-align: center;
}
.first-div .nigus-sys .first-block {
  padding: 20px;
}
.first-div .nigus-sys .overlay {
  font-size: 1.4rem;
  width: 350px;
  /* height: 250px; */
}

.about-container1 {
  text-align: center;
  font-size: 1.3rem;
  color: white;
  border-radius: 12px;
  margin: 10px;
  background-color: blue;
}



@media screen and (max-width :425px) {
  .about-container {
    text-align: center;
    width: 96%;
    padding: 3px;
    font-size: 0.9rem;
    color: dimgray;
  }
  .first-div {
    display: block;
    /* height: 200px; */
  }
  .about-container1 {
    text-align: center;
    color: white;
    margin: 11px;
    background-color: blue;
}

  .about-container1 h1 {
    font-size: 1.3rem;
    padding: 10px;
  }
.first-div .nigus-sys .overlay
{
  font-size: 0.9rem;
    width: 309px;
}
}

