* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

nav {
  padding: 10px 0px 70px 10px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px;
}

.navbar .logo {
  width: 150px;
  padding: 0 20px;
  height: 50px;
}

.navbar .logo img {
  width: 90%;
  height: inherit;
}

.nav-list {
  width: 70vw;
  position: relative;
  background: #fff;
}

.navbar span {
  display: none;
}

.open {
  display: inline-block;
}

.nav-list ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 10px;
  padding-right: 5vw;
  font-size: 1.1rem;
  height: 50px;
  background: #fff;
}

.nav-list ul li a {
  background: #fff;
  text-decoration: none;
  color: rgb(87, 102, 159);
  transition: 1s;
  font-weight: bold;
}

.nav-list ul li a:hover {
  color: rgb(0, 51, 255);
 border-bottom:2px solid blue ;
}

.first-nav ul li {
  padding: 10px 2px;
}

.second-nav {
  display: flex;
  position: absolute;
  height: inherit;
  padding: 20px 1px 0px 0px;
}
.second-nav ul li {
  background: #fff;
  padding: 0px 30px 0px 40px;
  display: block;
}
.service-open {
  margin: 20px;
  display: inline-block;
}

/* --------------footer----------------- */

.footer {
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;

}

.limited {
  color: black;
  font-size: 1.5rem;
  padding: 5px 0;
}

.logo1 {
  width: 100px;
  height: 35px;
}

.icon {
  height: 47px;
  width: 42px;
  padding: 5px 0;
}

.help {
  padding: 5px;
  width: 60%;
  color: rgb(60, 60, 60);
  font-size: 1.1rem;
  font-weight: normal;
}

.contact {
  text-align: center;
}

.contact .info {
  display: block;
  width: 114px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(9, 9, 9);
  margin: 10px;
  padding: 10px;
}
.contact .info:hover{
  font-weight: bold;
}

.info1 {
  width: 114px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(9, 9, 9);
  padding: 10px;
}

.contact .font-icon {
  display: block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.03s ease-out;
}
.contact .font-icon:hover {
  width: 200px;
  background-color: cadetblue;
}
.contact .font-icon .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
}

.contact .font-icon:nth-child(1) .icon {
  background-color: #ea0d0d;
}
.contact .font-icon .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.contact .font-icon span {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 10px;
  text-align: center;
}

.contact .font-icon2 {
  display: block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.03s ease-out;
}
.contact .font-icon2:hover {
  width: 200px;
  background-color: cadetblue;
}
.contact .font-icon2 .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
}
.contact .font-icon2:nth-child(2) .icon {
  background-color: #ea0d0d;
  color: blue;
}

.contact .font-icon2 .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.contact .font-icon2 span {
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin-left: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 10px 0px 9px 1px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .contact {
    height: fit-content;
    width: unset;
    padding: 10px;
    text-align: left;
  }
  .contact button {
    height: 30px;
    width: 90px;
    margin: 5px;
    cursor: pointer;
  }

  .limited {
    color: rgb(28, 28, 28);
    font-size: 1.1rem;
    padding: 2.8px 0;
}
 .help {
    padding: 2px;
    width: 40%;
    color: #484848;
    font-size: 0.9rem;
    font-weight: normal;
}
  .btn {
    height: 40px;
    width: 200px;
    background-color: rgb(56, 196, 198);
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 8px;
  }

  .footer {
    padding: 5px;
    display: block;
  }

  .contact {
    height: unset;
    width: unset;
    padding: 10px;
  }
  .navbar .logo {
    width: 130px;
    padding: 0 20px;
    height: 60px;
  }

  .navbar .open {
    display: block;
  }

  .close {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transition: 0.5s;
}

  .navbar .service-open {
    display: block;
  }

  .left{
    font-weight: 900;
    bottom: -95px;
    position: absolute;
}

  .nav-list {
    position: relative;
  }

  .nav-list ul {
    display: block;
    width: 100vw;
    height: unset;
  }

  .first-nav {
    position: absolute;
    top: -300px;
    left: -100px;
    width: 100vw;
    transition: 0.5s;
  }
  .second-nav {
    position: absolute;
    top: -300px;
    left: -100px;
    width: 100vw;
    transition: 1s;
  }
  .service-open{
    transform: rotate(90deg);
    
  }
  .service-close{
    transform: rotate(90deg);
  }

  .logo1 {
    width: 61px;
    height: 27px;
}
.icon {
  height: 39px;
  width: 30px;
  padding: 3px 0;
}
.contact {
  height: unset;
  width: unset;
  padding: 0px;
}
.contact .info {
  display: block;
  text-decoration: none;
  color: rgb(9, 9, 9);
  padding: 6px;
}
.second-nav ul li {
  background: #fff;
  padding: 0px 30px 0px 40px;
  display: block;
  font-size: 0.9rem;
}
}
