.box ul li{
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(deepskyblue,transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 6s linear infinite;
}
.box ul li:nth-child(2)
{
    left: 37vw;
    animation-delay: 2s;
}
.box ul li:nth-child(3)
{
    left: 30vw;
    animation-delay: 4s;
}
.box ul li:nth-child(4)
{
    left: 37vw;
    animation-delay: 6s;
}
.box ul li:nth-child(5)
{
    left: 57vw;
    animation-delay: 6.5s;
}
.box ul li:nth-child(6)
{
    left: 60vw;
    animation-delay: 5s;
}
.box ul li:nth-child(7)
{
    left: 75vw;
    animation-delay: 8s;
}
.box ul li:nth-child(8)
{
    right: 25vw;
    animation-delay: 8s;
}
.box ul li:nth-child(9)
{
    right: 50vw;
    animation-delay: 8s;
}
.box ul li:nth-child(10)
{
    right: 37vw;
    animation-delay: 5s;
}

@keyframes animate {
    0%{
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100%{
        transform: scale(10);
        opacity: 0;
        bottom: 100vw;
    }
}