
 h1{
    font-size: 5rem;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    height: 30%;
}
.cont-info{
    width: 40%;
    height: 30%;
    text-align: center;
    padding: 4%;
}
.images
{
    height: 40%;
    width: 40%;
}
.data{
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: brown;
    
    border-radius: 14px;
    color: white;
    padding: 10%;
    transform: scale(0);
  
}
.data h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}
.cont-info:hover  .data{

    transform: scale(1);

}